/* FONTS ************************************************************************************************************ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Raleway", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* STYLES ************************************************************************************************************ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  user-select: none;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
html {
  min-height: var(--min-height);
  min-width: var(--min-width);
}
body {
  width: 100%;
  min-height: 100vh;
  padding: 15vh 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.15;
  color: white;
  background: radial-gradient(hsl(200, 10%, 12%), hsl(200, 10%, 8%)), red;
  user-select: none;
  overflow: hidden;
}

.main-name {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    letter-spacing: -0.05em;
    color: hsl(43, 80%, 50%);
}
.main-name span {
    font-weight: 100;
}

.school-name {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    line-height: 1.15em;
    color: silver;
}